<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index page">
        {{ partial "nav-page.html" . }}
        <section id="single-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <h1 class="text-center">{{ .Title }}</h1>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </section>

        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
